apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-grpc-ingress
  namespace: argocd
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 443
    host: "{{ argocd_grpc_fqdn }}"
  tls:
  - hosts:
    - {{ argocd_grpc_fqdn }}
    secretName: argocd-secret # do not change, this is provided by Argo CD
