apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test-longhorn-vol-claim
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 3Gi